.appeal {
  background-image: linear-gradient(
      to right,
      rgba(66, 25, 109, 0.8),
      rgba(66, 25, 109, 0.8)
    ),
    url(../../images/bg-appeal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;

  @media screen and(min-width: $mobile) {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}

.container-appeal {
  @media screen and(min-width: $desktop) {
    display: flex;
  }
}
.appeal-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;

  text-transform: uppercase;

  color: $primary-white-color;
  margin: 0;
  padding-bottom: 23px;

  @media screen and(min-width: $mobile) {
    font-size: 40px;
  }

  @media screen and(min-width: $desktop) {
    text-align: left;
  }
}

.appeal-title__yellow {
  color: $yellow-color;
}

.appeal-title__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;

  color: $primary-white-color;

  @media screen and(min-width: $desktop) {
    text-align: left;
  }
}

.appeal-list__text {
  text-align: start;
}

.appeal-list {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;

  color: $primary-white-color;
  padding-top: 60px;
  padding-left: 77px;
}

.appeal-list__png {
  position: absolute;
  top: 50px;
  left: 0px;

  &--reg {
    background-image: url(../../images/appeal-reg.png);
    width: 59px;
    height: 50px;
  }

  &--check {
    background-image: url(../../images/appeal-check.png);
    width: 58px;
    height: 54px;
  }

  &--time {
    background-image: url(../../images/appeal-time.png);
    width: 54px;
    height: 54px;
  }
}

.appeal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;

  text-transform: uppercase;

  color: $light-yellow-color;

  padding-top: 26px;
  padding-left: 77px;
  text-align: left;
  padding-bottom: 25px;
  @media screen and(min-width: $desktop) {
    padding-bottom: 0;
  }
}

.appeal-block__feedback {
  border: 2px solid $primary-white-color;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 32px 28px;

  @media screen and(mi-width: $mobile) {
    width: 350px;
    height: 495px;
  }

  @media screen and(max-width: 1199px) {
    display: inline-block;
  }
}

.appeal-block__feedback--text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;

  color: $primary-white-color;
  padding-bottom: 45px;
}
.appeal-block__input--type {
  padding-bottom: 20px;
}

.appeal-block__input {
  width: calc(100% - 2 * 15px);
  padding: 10px;
  background: $primary-white-color;
  border-radius: 30px;

  text-align: center;
  border: none;

  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media screen and(min-width: $mobile) {
    width: 294px;
    height: 66px;
    font-size: 20px;
    padding: 0;
  }
}

.appeal-block__input:hover,
.appeal-block__input:focus {
  cursor: pointer;
  box-shadow: 0px 10px 40px rgba(255, 223, 135, 0.50);
}

.appeal-block__button {
  padding-top: 10px;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media screen and(min-width: $mobile) {
  }
}

.appeal-block__input--button {
  background: #f7c847;
  box-shadow: 0px 10px 40px rgba(255, 223, 135, 0.5);
}

.appeal-block__input--button:hover,
.appeal-block__input--button:focus {
  cursor: pointer;
  box-shadow: 10px 13px 11px rgba(255, 0, 0, 0.1), 10px 11px 12px rgba(255, 0, 0, 0.08),
  10px 12px 12px rgba(255, 0, 0, 0.12);
}

.appeal-block__agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  display: flex;
  align-items: center;
  text-align: center;

  color: $primary-white-color;
}
