.author {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;

  position: relative;

  @media screen and(min-width: $mobile) {
    padding-top: 80px;
    padding-bottom: 106px;
  }
}

.author-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  color: $light-blue-color;
  margin: 0;

  @media screen and(min-width:$mobile) {
    line-height: 0.78;
  }
}

.author-circle {
  position: absolute;
  background-image: url(../../images/author-circle.png);
  width: 157px;
  height: 154px;
  top: -65px;
  left: 70%;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.author-border {
  display: block;
  width: 70px;
  border-bottom: 2px solid $rose-color;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.author-title__name {
  font-weight: 400;
  font-size: 36px;
  line-height: 0.78;
  text-align: center;

  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 43px;
  margin: 0;
}

.author-title__about {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;

  color: rgba(0, 0, 0, 0.8);

  padding-bottom: 36px;
}

.author-solution {
  @media screen and(min-width: $desktop) {
    display: flex;
  }
}

.author-photo {
  border-radius: 40px;
  @media screen and(min-width: $tablet) {
    margin: 0 auto;
  }
}
.author-solution__list--text {
  text-align: start;
  padding-top: 26px;
  padding-left: 56px;
}

.author-solution__list {
  position: relative;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  color: #29242c;
  padding-bottom: 15px;
}

.auhor-solution__png {
  position: absolute;
  background-image: url(../../images/author-arrow.png);
  width: 15px;
  height: 20px;
  top: 1px;
  left: -25px;
}
