.marafon {
  padding-bottom: 20px;

  @media screen and(min-width: $mobile) {
    padding-bottom: 45px;
  }
}

.marafon__last-child {
  padding-bottom: 20px;

  @media screen and(min-width: $mobile) {
    padding-bottom: 90px;
  }
}

.marafon-program__title {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 27px;

  color: $light-blue-color;

  @media screen and(max-width:355px) {
    font-size: 20px;
  }
  @media screen and(min-width: $tablet) {
    padding-top: 47px;
    font-size: 36px;
    line-height: 1.2;
  }
  @media screen and(min-width: $desktop) {
    font-size: 50px;
    line-height: 1.2;
  }
}

.marafon-border {
  display: block;
  width: 70px;
  border-bottom: 2px solid $rose-color;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 23px;

  @media screen and(min-width: $tablet) {
    margin-top: 38px;
  }
  @media screen and(min-width: $desktop) {
    margin-top: 24px;
  }
}
.marafon-program__day {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  @media screen and(min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1110px;
    margin: 0 auto;
  }
}
.marafon-program__day--date {
  display: flex;
  align-items: center;
  height: 89px;
  font-family: Lato;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  color: $light-blue-color;

  background: $light-yellow-color;

  @media screen and(min-width: $tablet) {
    width: 100%;
    justify-content: center;
  }

  @media screen and(min-width: $desktop) {
    width: 284px;
  }
}

.marafon-program__day--about {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  text-transform: uppercase;

  height: 89px;
  background: $light-blue-color;

  @media screen and(min-width: $tablet) {
    width: 100%;
    justify-content: center;
  }
  @media screen and(min-width: $desktop) {
    width: 826px;
  }
}

.marafon-program__book {
  width: 293px;
  height: 384px;
  padding-top: 38px;

  @media screen and(min-width: $tablet) {
    margin: 0 auto;
  }
}

.marafon-program__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: $black-color;
}

.marafon-program__list--style {
  text-align: start;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and(min-width: $desktop) {
    padding-left: 40px;
  }
}

.marafon-program__list--decoration {
  position: relative;
  padding-top: 16px;
  padding-left: 46px;

  &--bold {
    font-weight: 700;
  }
}

.marafon-program__png {
  position: absolute;
  background-image: url(../../images/marafon-check.png);
  width: 30px;
  height: 30px;
  top: 15px;
  left: 0;
}

.marafon-program__total {
  text-align: start;
  padding-top: 28px;
  padding-left: 40px;
  font-weight: 700;
}
.marafon-program__list--total {
  position: relative;
  padding-top: 10px;
  padding-left: 15px;

  &:first-child {
    padding-top: 0;
  }
}
.marafon-program__marker {
  position: absolute;

  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $dark-blue-color;
  top: 15px;
  left: 0;
}
