.solution {
  background: $dark-blue-color;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and(min-width: $mobile) {
    padding-top: 82px;
    padding-bottom: 94px;
  }
}

.solution-title {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  color: $light-yellow-color;

  @media screen and(max-width:355px) {
    font-size: 20px;
  }
  @media screen and(min-width: $tablet) {
    font-size: 36px;
    line-height: 1.2;
  }
}
.solution-border {
  display: block;
  width: 70px;
  border-bottom: 2px solid $primary-white-color;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 23px;

  @media screen and(min-width: $tablet) {
    margin-top: 38px;
  }
  @media screen and(min-width: $desktop) {
    margin-top: 36px;
    margin-bottom: 63px;
  }
}
.solution-container {
  @media screen and(min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.solution-block {
  display: flex;
  flex-direction: column;
}

.solution-block__text {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: $primary-white-color;
  color: $light-black-color;
  height: 246px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;

  padding: 33px 0 24px 0;

  @media screen and(min-width: $tablet) {
    height: 330px;
  }

  @media screen and(mi-width: $desktop) {
    height: 246px;
  }
}

.solution-block__img-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  padding-top: 22px;
}

.solution-block__img-text-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
}

.solution-block__arrow {
  position: absolute;
  background-image: url(../images/arrow.png);
  width: 48px;
  height: 30px;
  bottom: -15px;
  left: calc(100% / 2 - 24px);
}

.solution-block__list--style {
  text-align: start;
  padding-bottom: 35px;

  @media screen and(min-width: $tablet) {
    padding-top: 38px;
  }
}

.solution-block__list--decoration {
  position: relative;
  padding-top: 17px;
  padding-left: 46px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: $primary-white-color;
}

.solution-block__png {
  position: absolute;
  background-image: url(../images/solut-check.png);
  width: 32px;
  height: 30px;
  top: 15px;
  left: 0;
}
