$primary-white-color: #ffffff;
$yellow-color: #fce558;
$black-color: #000;
$light-blue-color: #320B61;
$light-yellow-color: #fad264;
$dark-blue-color: #42196D;
$rose-color: #E130E3;
$light-black-color: #292841;
$ligth-white-color: #F7F7F7;
$medium-black-color: #060606;
$ligth-grey-color: #e5e5e5;


