$basic-text-color: #fff;
$yellow-color: #fce558;

$basic-bg-color: #e5e5e5;
$secondary-text-color: #212121;
// $basic-text-color: #757575;
$primary-white-color: #ffffff;
$primary-blue-color: #2196f3;
$medium-dark-color: #2f303a;
$black-color: #000;
$primary-text-family: Roboto, sansans-serif;
$subprimary-text-family: Raleway, sansans-serif;
